<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension id="de.tobiasblaschke.test.rcp.helloworld" name="Hello World" point="org.eclipse.core.runtime.applications">
        <application>
            <run class="de.tobiasblaschke.test.rcp.HelloWorldApplication" />
        </application>
    </extension>
    <extension id="de.tobiasblaschke.test.rcp.product" point="org.eclipse.core.runtime.products">
        <product application="de.tobiasblaschke.test.rcp.helloworld" name="Hello World Product">
            <property name="appName" value="Hello World" />
        </product>
    </extension>
</plugin>